@using MvcSample.Web.Models
@model User
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<div class="jumbotron">
    <h1>ASP.NET on Docker/Linux</h1>
    <p class="lead">It's possible to run ASP.net via docker now!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <h3 title="@Model.Name" class="@helloClass">Hello @Model.Name!. You live @Model.Address</h3>
</div>
